//**** Alert Banner ****//
@use "../variables" as *;
@use "../mixins" as *;

.announcement-banner {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  @include global-transition();

  &.active,
  .customize-partial-edit-shortcuts-shown & {
    max-height: 1000px;
    padding: 40px;
    visibility: visible;
  }

  .accept {
    position: absolute;
    top: 20px;
    right: 20px;

    color: $neutraldark;
  }
}
