//**** Single Posts ****//
@use "../variables" as *;
@use "../mixins" as *;

.single {
  .entry-content {
    padding-bottom: 50px;
    // Global Header Resets.
    @for $i from 1 through 6 {
      h#{$i},
      .h#{$i} {
        font-weight: 700;
        font-style: normal;
        line-height: 1.5;
        margin-top: 40px;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}
