/**** Product Group ****/
@use "../variables" as *;
@use "../mixins" as *;

.product-group {
  padding: clamp-calc(768px, 1024px, 10px, 16px);
  padding-bottom: clamp-calc(768px, 1024px, 24px, 34px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  .wp-block-cover {
    @include aspect-ratio(352, 310);
    position: relative;
    width: 100%;
    display: block;
    min-height: auto;

    img {
      border-radius: clamp-calc(768px, 1024px, 10px, 16px);
      border-bottom-left-radius: 30%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .wp-block-buttons {
    margin: auto auto 0;

    .wp-block-button {
      margin-top: 30px;
    }
  }
  &.has-price {
    .wp-block-cover {
      overflow: visible;
      @include aspect-ratio(352, 352);
    }
    .price-group {
      width: 92px;
      height: 92px;
      border-radius: 100%;
      border: 4px solid #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -20px;
      left: 0;

      p {
        margin: 0;
        line-height: 1;
        &.tag {
          font-family: "montserrat", sans-serif;
          font-size: 1.2rem;
          font-weight: 600;
        }

        &.cost {
          font-family: "montserrat", sans-serif;
          font-size: 1.8rem;
          font-weight: 800;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    text-align: left;

    .wp-block-buttons {
      margin: auto auto 0 0;
    }
  }
}
