/* Headings/Header tag styles */
@use "../variables" as *;
@use "../mixins" as *;

// Global Header Resets.
@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    font-family: "cooper-black-std", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
    margin-top: 0;

    a {
      color: $basecolor;
      text-decoration: none;

      &:hover {
        color: $basecolor !important;
        text-decoration: underline;
      }

      &:visited {
        color: $basecolor;
      }
    }
  }
}
